<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solar Watch - admin</title>

    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
</head>
<body>
<div class="admin-container">
    <h1 class = "admin-header">Admin panel</h1>

    <h2 class = "admin-one">Lista użytkowników</h2>
    <ul>
        <li th:each="email: ${userEmails}">
            <span th:text="${email}">jan@kowalski.com</span>
            &nbsp;
            <a href="#" th:href="@{/admin/delete-user(email=${email})}">Usuń</a>
        </li>
    </ul>

    <h2 class = "admin-one">Lista miast</h2>
    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Wschód Słońca</th>
            <th>Zachód Słońca</th>
            <th>Miasto</th>
            <th>Długość geograficzna</th>
            <th>Szerokość geograficzna</th>
            <th>Stan</th>
            <th>Państwo</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hour : ${hoursList}">
            <td th:text="${hour.date}"></td>
            <td th:text="${hour.sunrise}"></td>
            <td th:text="${hour.sunset}"></td>
            <td th:text="${hour.city.name}"></td>
            <td th:text="${hour.city.longitude}"></td>
            <td th:text="${hour.city.latitude}"></td>
            <td th:text="${hour.city.state}"></td>
            <td th:text="${hour.city.country}"></td>
            <td>
            <a th:href="@{/admin/hours/delete/{id}(id=${hour.id})}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
