<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solar Watch - admin</title>

    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
</head>
<body>
<div class="container">
    <h1>Admin panel</h1>

    <h2>Lista użytkowników </h2>
    <ul>
        <li th:each="email: ${userEmails}">
            <span th:text="${email}">jan@kowalski.com</span>
            &nbsp;
            <a href="#" th:href="@{/admin/delete-user(email=${email})}">Usuń</a>
        </li>
    </ul>

    <h2>Lista miast</h2>
    <table>
        <thead>
        <tr>
            <th>City</th>
            <th>Date</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cityData: ${cityDataList}">
            <td th:text="${cityData.city.name}"></td>
            <td th:text="${#dates.format(cityData.date, 'yyyy-MM-dd')}"></td>
            <td th:text="${cityData.sunrise}"></td>
            <td th:text="${cityData.sunset}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${cityData.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${cityData.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>