<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar Watch - user panel</title>
</head>
<body>
<h1>Strona główna</h1>
<form class="city" action="/sun" method="get" th:object="${sun}">
    <label>
        <input name="city" placeholder="nazwa miasta" class="form-item">
    </label>
    <label>
        <input name="date" placeholder="data" type="date" class="form-item">
    </label>
    <button type="submit" class="button">Wyszkuja miasta</button>
</form>
</body>
</html>